# Dependencies
node_modules/
client/node_modules/
mingit/

# SQLite dynamic files
canteen.db-shm
canteen.db-wal
db_backup/

# Logs
*.log
npm-debug.log*

# Environment
.env
.env.local

# OS files
.DS_Store
Thumbs.db
